{% extends 'base/base.html' %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-xl-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ip broker</th>
                    <th scope="col">topico a suscribir</th>
                    <th scope="col">puerto</th>
                </tr>
            </thead>
            <tbody>
                    {% for device in data %}
                <tr>
                    <th scope="row">{{device.id}}</th>
                    <td>{{device.ip_broker}}</td>
                    <td>{{device.topic}}</td>
                    <td>{{device.port}}</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xl-10">
        <form action="{{url_for('register.broker_config')}}" method="POST" >
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="ip_broker" placeholder="Ip broker">
                </div>
                <div class="col">
                    <input type="text" class="form-control"  name="topic" placeholder="Topico">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="port" placeholder="Puerto">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">+</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <form action="{{url_for('register.device_component')}}" method="POST" >
            <div class="form-row">
                <div class="col">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Asociar componentes</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}

