{% extends 'base/base.html' %}
{% block content %}

<div class="container">
    
<div class="row">
    <div class="col-xl-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Hight</th>
                    <th scope="col">Lenght</th>
                    <th scope="col">Tipo cultivo</th>
                </tr>
            </thead>
            <tbody>
                    {% for cultivo in data %}
                <tr>
                    <th scope="row">{{cultivo.id}}</th>
                    <td>{{cultivo.name}}</td>
                    <td>{{cultivo.hight}}</td>
                    <td>{{cultivo.lenght}}</td>
                    <td>{{cultivo.type_cultivo}}</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    <div class="col-xl-6">
        <form action="{{url_for('register.cultivo')}}" method="POST" >
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="name" placeholder="Nombre">
                </div>
            <div class="col">
                <input type="text" class="form-control"  name="hight" placeholder="hight">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="lenght" placeholder="lenght">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="type_cultivo" placeholder="Tipo cultivo">
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">+</button>
            </div>
        </div>
    </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <form action="{{url_for('register.cultivo_device')}}" method="POST" >
            <div class="form-row">
                <div class="col">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Asociar device</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}



