{% extends 'base/base.html' %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-xl-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre cultivo</th>
                    <th scope="col">Nombre  componente</th>
                </tr>
            </thead>
            <tbody>

            {% for dd in data.cultivo_device %}
                <tr>
                    <th scope="row"> {{dd[0].id}}</th>
                    <td>{{dd[1].name}}</td>
                    <td>{{dd[2].model}}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="col-xl-10">
        <form action="{{url_for('register.cultivo_device')}}" method="POST" >
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <select name="cultivo" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Cultivo...</option>
                {% for cultivo in data.cultivo %}
                <option value={{cultivo.id}}>{{cultivo.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-auto my-1">
              <select name="device" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Device...</option>
                {% for device in data.device %}
                <option value={{device.id}}>{{device.model}} </option>
                {% endfor %}
              </select>
            </div>
            </div>
           <div class="col-auto my-1">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
    </div>
</div>
</div>
{% endblock %}

