{% extends 'base/base.html' %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-xl-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Model</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Función</th>
                </tr>
            </thead>
            <tbody>
                    {% for device in data %}
                <tr>
                    <th scope="row">{{device.id}}</th>
                    <td>{{device.model}}</td>
                    <td>{{device.marca}}</td>
                    <td>{{device.function}}</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xl-10">
        <form action="{{url_for('register.device')}}" method="POST" >
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="model" placeholder="Modelo">
                </div>
                <div class="col">
                    <input type="text" class="form-control"  name="marca" placeholder="Marca">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="function" placeholder="Función">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">+</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <form action="{{url_for('register.device_component')}}" method="POST" >
            <div class="form-row">
                <div class="col">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Asociar componentes</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}

